<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Zhongyitech</title>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>    -->
  </head>

  <body>



    <div class="wrapper">
        <header class="branding">
            <h1 class="site-title"><a href="#!">深圳会展中心WIFI自动取号系统</a></h1>
        </header><!-- header -->
        <article class="content">
            <h2 class="entry-title"><a href="#!">项目的需求和背景</a></h2>
            <p>随着无线网络的发展，原中国电信在会展中心建设的无线WIFI网络已经超过8年，设备已无法正常使用，
              在使用过程中无法满足展会的需求，长期处于闲置状态，为做好会展中心与中国电信长期友好合作事宜，
              希望对会展中心的无线WIFI网络进行改造及完善覆盖区域，满足展商，参观人员及媒体等对无线WIFI网络的需求，
              提高无线WIFI的网络利用率，提升中国电信及会展中心的服务质量，树立优质高效的服务形象。
            </p>
          </article><!-- content -->
          <article class="content">
            <h2 class="entry-title"><a href="#!">实施完的效果</a></h2>
            <p>手机自助上网：在WiFi终端选择名为SZCEC（free）的SSID，
              打开浏览器在登录页面用户名一栏输入手机号码（用户名为手机号码），点击短信获取密码，
              密码将以短信方式发送到指定手机。
            </p>
            <p>POS终端自助上网：用户使用二代身份证、带一、二维条码的参展商证或工作证到WiFi自组取号机获取帐号。
            </p>
            <h2 class="entry-title"><a href="#!">实现方案和实施效果</a></h2>
            <img src="images/wifi.png"/>

            <p>
              用户输入账号密码后，点认证，IE把HTTP POST请求发给PORTAL SERVER，PORTAL SERVER收到帐号密码后进行预认证，
              此时会查询一次数据库，根据查询结果判断帐号是否已经绑定，如果未绑定则进入绑定流程，
              如果已绑定则向BAS发起认证，此认证过程为PORTAL协议，BAS收到UDP报文后，
              把相关信息如帐号、密码、用户IP、NAS IP等通过RADIUS协议发送给RADIUS服务器，
              RADIUS SERVER收到认证请求后对帐号进行认证，此时会查询一次用户表数据，
              如果认证成功则还需要查询一次在线表，判断用户是否已经在线，未在线则写入一次在线表记录，并返回认证结果；
              如果帐号是不可用的，则不会查询在线表，直接返回认证失败结果给BAS；
              BAS收到认证结果后返回认证结果给PORTAL SERVER，PORTAL SERVER收到认证结果后，
              根据认证结果返回不同的提示信息给用户，并且转到认证成功界面，完成整个认证过程。
            </p>
            <p>
            已安装10台自助刷卡服务终端，通过该终端完成用户身份认证与存储，自动打印接入WIFI的密码，极大提高了展会接入互联网的便利性。
            </p>
            <img src="images/wifi2.png"/>

        </article><!-- content -->


        <article class="content">
          <h2 class="entry-title"><a href="#!"></a></h2>


        </article><!-- content -->

        <footer class="colophon">
            <div class="design-link"><p>Design by <a href="#" title="Zhongyitech Software Developer">Oswaldl</a></p></div>
            <div class="clearfix"></div>
        </footer><!-- footer -->
        <div class="clearfix"></div>

    </div>

    <footer>
      <div class="container">
        <div class="contact">
          <h5>Contact Us</h5>
          <p>深圳市中易科技有限责任公司</p>
          <p></p>
          <p>南山区科技南十路6号航天科技创新研究院A座405</p>
        </div>
        <div class="sitemap">
          <h5>Sitemap</h5>
          <ul>
            <div class="left">
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Privacy</a></li>
            </div>
            <div class="right">
              <li><a href="#">Support</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Careers</a></li>
            </div>
          </ul>
        </div>
      </div>
    </footer>

    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>
