<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Zhongyitech</title>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>    -->
  </head>

  <body>



    <div class="wrapper">
        <header class="branding">
            <h1 class="site-title"><a href="#!">中易参与的某股份制银行数据中心监控</a></h1>
        </header><!-- header -->
        <article class="content">
            <img src="images/bank2.png"/>
            <h2 class="entry-title"><a href="#!">客户挑战</a></h2>

            <p>
              银行数据中心IT 基础设施越来越庞大，管理的复杂度不断增加，对故障响应和处理的实时性要求越来越高，对关键性能指标KPI变化的掌控要求也越来越高。同时，管理扁平化趋势也越来越明显，传统分专业和应急式的监控管理架构已不能适应越来越多用户的要求，需要有集中化、端到端的覆盖整个企业域的总体监控管理解决方案
            </p>
        </article><!-- content -->
        <article class="content">
          <h2 class="entry-title"><a href="#!">实施范围</a></h2>

          <ul>
            <li>主机系统：AS/400、AIX、Windows2003、HP-UX、RedHat Linux、    SCO UNIXWARE</li>
            <li>中间件：Wesphere、Tomcat</li>
            <li>数据库：Sybase、DB2、Oracle</li>
            <li>存储： EMC DMX、CX系列、 IBM 8000系列、 HP EVA系列</li>
            <li>应用： AS/400应用、开放系统应用</li>
          </ul>
        </article><!-- content -->
        <article class="content">
          <h2 class="entry-title"><a href="#!">实施效果</a></h2>
          <img src="images/bank1.png"/>
          <ul>
            <li>实现总行、深圳卡中心以及全国30家分行的IT资源的基础监控</li>
            <li>实现OpenMonitor监控平台在中信银行的全面推广使用</li>
            <li>实现银行总行应用系统集中监控</li>
          </ul>
        </article><!-- content -->


        <footer class="colophon">
            <div class="design-link"><p>Design by <a href="#" title="Head of cloud department">steven</a></p></div>
            <div class="clearfix"></div>
        </footer><!-- footer -->
        <div class="clearfix"></div>

    </div>

    <footer>
      <div class="container">
        <div class="contact">
          <h5>Contact Us</h5>
          <p>深圳市中易科技有限责任公司</p>
          <p></p>
          <p>南山区科技南十路6号航天科技创新研究院A座405</p>
        </div>
        <div class="sitemap">
          <h5>Sitemap</h5>
          <ul>
            <div class="left">
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Privacy</a></li>
            </div>
            <div class="right">
              <li><a href="#">Support</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Careers</a></li>
            </div>
          </ul>
        </div>
      </div>
    </footer>

    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>
